<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="customerDAO" class="com.mkyong.customer.dao.impl.JdbcCustomerDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="customerSimpleDAO" class="com.mkyong.customer.dao.impl.SimpleJdbcCustomerDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="customerSimpleDAO2" class="com.mkyong.customer.dao.impl.SimpleJdbcCustomerDAO">
		<property name="dataSource" ref="dataSource2" />
	</bean>

	<bean id="customerNameSimpleDAO" class="com.mkyong.customer.dao.impl.SimpleJdbcCustomerNameDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!--
	<bean id="customerNameSimpleDAOH2" class="com.mkyong.customer.dao.impl.SimpleJdbcCustomerNameDAO">
		<property name="h2DataSource" ref="h2DataSource" />
	</bean>
	-->
</beans>